<!DOCTYPE html>
<html>
<head>
<title>出错啦 - JFinal,nodejs博客dreamlu.net</title>
<meta content="5; url=${CONTEXT_PATH}" http-equiv="refresh">
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<meta content="dreamlu,jfinal,bae,开源博客" name="Keywords">
<meta content="dreamlu.net是一个使用Java开发，采用Jfinal mvc框架，MySQL数据库和Jade模版引擎，搭建于百度云BAE的开源博客系统。"name="Description">
<link rel="stylesheet" type="text/css" href="${CONTEXT_PATH }/admin/css/error.css">
</head>
<body>
	<div id="msg_box">
		<img src="${CONTEXT_PATH}/admin/img/404.png">
		<div class="title">抱歉，您访问的页面没找到！</div>
		<div class="msg">我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅</div>
		<div class="nav">
			<a style="padding-right: 100px;" href="javascript:history.go(-1)">返回上页</a><a href="${CONTEXT_PATH}/admin">返回首页</a>
		</div>
	</div>
</body>
</html>