<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
    <channel>
        <title>DreamLu博客，JFinal开源博客！</title>
        <link>http://www.dreamlu.net/</link>
        <language>zh-cn</language>
        <description>DramLu：java，nodejs开源博客</description>
        #for(Blog item : rssList())
            <item>
                <title><![CDATA[${item.get('title')}]]></title>
                <link>http://www.dreamlu.net/blog/${item.get('id')}</link>
                <guid>http://www.dreamlu.net/blog/${item.get('id')}</guid>
                <description><![CDATA[${filterRss(item.get('content').asString())}]]></description>
                <author>${item.get('nick_name')}</author>
                <pubDate>${formatRss(item.get('update_time')) }</pubDate>
            </item>
        #end
    </channel>
</rss>