<?xml version="1.0" encoding="utf-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    #for(Blog item : findAll())
        <url>
            <loc>http://www.dreamlu.net/blog/${item.get('id')}</loc>
            <priority>0.9</priority>
            <lastmod>${baseFormat(item.get('update_time')) }</lastmod>
            <changefreq>weekly</changefreq>
        </url>
    #end
</urlset>